<nav>
  <a routerLink="/">
    <i class="ti ti-check"></i> TaskApp
  </a>

  <div class="nav-actions">

    <!-- Deslogado -->
    <ng-container *ngIf="!isLoggedIn">
      <button routerLink="/login">Entrar</button>
      <button routerLink="/register">Cadastrar</button>
    </ng-container>

    <!-- Logado -->
    <ng-container *ngIf="isLoggedIn">
      <span>{{ userEmail }}</span>
      <button (click)="logout()">
        <i class="ti ti-logout"></i> Sair
      </button>
    </ng-container>

  </div>
</nav>
